*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body{
  background: rgba(15, 13, 19, 1);
  font-family: 'Roboto', sans-serif;
}

#app{
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: 
  'A B'
  'A C'
  ;
  gap: 32px;
  place-content: center;
  height: 100vh;
}


#playerOne{
  grid-area: A;
  padding: 50px 38px;
}

#playerOne img {
  width: 190px;
  height: 190px;
  object-fit: cover;
}

#playerTwo{
  grid-area: B;
  padding: 28px;
}

#playerThree{
  grid-area: C;
  padding: 28px;
}

.player{
  padding: 28px;
  border-radius: 10px;
  background: #2A2141;
}

#playerOne .info{
  margin-top: 28px;
}

.player h1{
  font-size: 24px;
  color: rgba(225, 225, 230, 1);
  font-weight: 700;
}

.player p{
  font-size: 19px;
  color: rgba(225, 225, 230, 1);
  opacity: .67;
  margin-top: 9.6px;
}

.controls{
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.time{
  font-size: 14px;
  color: rgba(196, 196, 204, 1);
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  margin-top: 9.6px;
}